[Unit]
Description=Morning startup script reminder
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/home/rhymezxcode/morning-notify.sh
TimeoutStartSec=180
TimeoutStopSec=10
